.App {
  width: 100vw;
  height: 100vh;
}

.defaultButton {
  border: none;
  background-color: white;
  color: #696969;
  padding: 15px 10px;
  text-align: center;
  display: flex;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.194);
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
}